@model IEnumerable<SignUpUserVM>
@{
    ViewData["Title"] = "Index";
    int counter = 1;
}

<div class="ContentBody">
    <section class="py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            All User  <a class="float-right btn btn-primary flri" href="#" title="Create" id="CreateUser"><i class="fas fa-book"></i> Create</a>
                        </div>
                        <div class="card-body">
                            <table class="table ExSTable ExSDataTable" id="TabUser">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone Number</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <th scope="row">@counter</th>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.Email</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>
                                            <button class="btn btn-sm btn-info "  id="js-Update"   data-id="@item.Id"><i class="fas fa-pen"></i> </button>
                                            <button class="btn btn-sm btn-danger " id="js-delete"    href="/ManageAllUser/DeleteUser/@item.Id"><i class="fas fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                        counter++;
                                    }
                                </tbody> 
                            </table>
                            <p id="heading"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


